<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head><!-- Created by Artisteer v4.1.0.59861 -->
    <meta charset="utf-8">
    <title>Contacts</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="styles/style.css" media="screen">
    <!--[if lte IE 7]>
    <link rel="stylesheet" href="styles/style.ie7.css" media="screen"/><![endif]-->
    <link rel="stylesheet" href="styles/style.responsive.css" media="all">


    <script src="styles/jquery.js"></script>
    <script src="styles/script.js"></script>
    <script src="styles/script.responsive.js"></script>
    <link rel="stylesheet" type="text/css" href="engine1/style.css" />
    <script type="text/javascript" src="engine1/jquery.js"></script>


    <style>.art-content .art-postcontent-0 .layout-item-0 { border-top-width:1px;border-top-style:solid;border-top-color:#3C97AA;margin-top: 5px;margin-bottom: 5px;  }
    .art-content .art-postcontent-0 .layout-item-1 { color: #696969; padding-right: 10px;padding-left: 10px;  }
    .art-content .art-postcontent-0 .layout-item-2 { border-right-style:solid;border-right-width:1px;border-right-color:#3C97AA; padding-right: 10px;padding-left: 10px;  }
    .art-content .art-postcontent-0 .layout-item-3 { padding-right: 10px;padding-left: 10px;  }
    .ie7 .art-post .art-layout-cell {border:none !important; padding:0 !important; }
    .ie6 .art-post .art-layout-cell {border:none !important; padding:0 !important; }

    </style></head>
<body>
<div id="art-main">
    <header class="art-header">


        <div class="art-shapes">

        </div>
        <h2 class="art-slogan" data-left="15.27%">SEGURIDAD SOCIAL</h2>




        <nav class="art-nav">
            <ul class="art-hmenu"><li><a href="inicio.html" class="active">Inicio</a></li><li><a href="servicios.html">Servicios</a><ul><li><a href="servicios/eps.html">EPS</a></li><li><a href="servicios/arl.html">ARL</a></li><li><a href="servicios/caja.html">Caja</a></li><li><a href="servicios/colaboradores.html">Colaboradores</a></li></ul></li><li><a href="contactenos.php">Contáctenos</a></li></ul>
        </nav>


    </header>
    <div class="art-sheet clearfix">
        <div class="art-layout-wrapper">
            <div class="art-content-layout">
                <div class="art-content-layout-row">
                    <div class="art-layout-cell art-content"><article class="art-post art-article">
                        <!--<div id="wowslider-container1">-->
                        <!--<div class="ws_images"><ul>-->
                        <!--<li><img src="data1/images/63986024.jpg" alt="63986024" title="Colaboradores" id="wows1_0"/></li>-->
                        <!--<li><img src="data1/images/6756047.jpg" alt="6756047" title="Colaboradores" id="wows1_1"/></li>-->
                        <!--<li><img src="data1/images/7310791.jpg" alt="7310791" title="Colaboradores" id="wows1_2"/></li>-->
                        <!--<li><img src="data1/images/fotoclinicainfantil.jpg" alt="fotoclinicainfantil" title="Colaboradores" id="wows1_3"/></li>-->
                        <!--<li><img src="data1/images/saludtotal_1.jpg" alt="saludtotal (1)" title="Colaboradores" id="wows1_4"/></li>-->
                        <!--</ul></div>-->
                        <!--<div class="ws_bullets"><div>-->
                        <!--<a href="#" title="Colaboradores">1</a>-->
                        <!--<a href="#" title="Colaboradores">2</a>-->
                        <!--<a href="#" title="Colaboradores">3</a>-->
                        <!--<a href="#" title="Colaboradores">4</a>-->
                        <!--<a href="#" title="Colaboradores">5</a>-->
                        <!--</div></div>-->

                        <!--<div class="ws_shadow"></div>-->
                        <!--</div>-->
                        <!--<script type="text/javascript" src="engine1/wowslider.js"></script>-->
                        <!--<script type="text/javascript" src="engine1/script.js"></script>-->


                        <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
                            <div class="art-content-layout-row">
                                <div class="art-layout-cell layout-item-1" style="width: 100%" >
                                    <div id="wowslider-container1">
                                        <div class="ws_images"><ul>
                                            <li><img src="data1/images/63986024.jpg" alt="63986024" title="Colaboradores" id="wows1_0"/></li>
                                            <li><img src="data1/images/6756047.jpg" alt="6756047" title="Colaboradores" id="wows1_1"/></li>
                                            <li><img src="data1/images/7310791.jpg" alt="7310791" title="Colaboradores" id="wows1_2"/></li>
                                            <li><img src="data1/images/fotoclinicainfantil.jpg" alt="fotoclinicainfantil" title="Colaboradores" id="wows1_3"/></li>
                                            <li><img src="data1/images/saludtotal_1.jpg" alt="saludtotal (1)" title="Colaboradores" id="wows1_4"/></li>
                                        </ul></div>
                                        <div class="ws_bullets"><div>
                                            <a href="#" title="Colaboradores">1</a>
                                            <a href="#" title="Colaboradores">2</a>
                                            <a href="#" title="Colaboradores">3</a>
                                            <a href="#" title="Colaboradores">4</a>
                                            <a href="#" title="Colaboradores">5</a>
                                        </div></div>

                                        <div class="ws_shadow"></div>
                                    </div>
                                    <script type="text/javascript" src="engine1/wowslider.js"></script>
                                    <script type="text/javascript" src="engine1/script.js"></script>
                                </div>
                            </div>
                        </div>
                            <div class="art-content-layout-br layout-item-0">
                            </div><div class="art-content-layout">
                                <div class="art-content-layout-row">
                                    <div class="art-layout-cell layout-item-2" style="width: 100%" >
                                        <h1>NUESTRA MISIÓN</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="art-content-layout">
                                <div class="art-content-layout-row">
                                    <div class="art-layout-cell layout-item-2" style="width: 100%" >
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            <div class="art-content-layout">
                                <div class="art-content-layout-row">
                                    <div class="art-layout-cell layout-item-2" style="width: 76%" >
                                        <p><img width="250" height="262" alt="" src="styles/images/shutterstock_12488026.jpg" class="" style="margin-right: 20px; float: left;"><span style="font-size: 16px; text-align: justify;">Incidir&nbsp;en el&nbsp;mejoramiento&nbsp;de las condiciones de&nbsp;salud&nbsp;de nuestros&nbsp;afiliados, garantizando el aseguramiento&nbsp;integral&nbsp;a través de la administración de los recursos del Sistema General de Seguridad Social, sobre la base de nuestros valores&nbsp;corporativos a través del desarrollo y la aplicación de modelos en salud que trascienden a la sociedad en general y promueven el principio constitucional del Derecho a la Salud.</span><br></p>
                                    </div><div class="art-layout-cell layout-item-2" style="width: 24%" >
                                    <h1>SÍGUENOS</h1><p><br></p><p><img width="32" height="32" alt="" src="styles/images/facebook_32-2.png" class="" style="margin-right: 10px; float: left;"></p><p style="padding-top: 8px; padding-bottom: 8px;"><a href="#">Facebook</a></p><p><img width="32" height="32" alt="" src="styles/images/twitter_32-2.png" class="" style="margin-right: 10px; float: left;"></p><p style="padding-top: 8px; padding-bottom: 8px;"><a href="#">Twitter</a></p><p><br></p>
                                </div>
                                </div>
                            </div>
                            <div class="art-content-layout">
                                <div class="art-content-layout-row">
                                    <div class="art-layout-cell layout-item-2" style="width: 100%" >
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            <div class="art-content-layout">
                                <div class="art-content-layout-row">
                                    <div class="art-layout-cell layout-item-2" style="width: 100%" >
                                        <h1>NUESTRA VISIÓN</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="art-content-layout">
                                <div class="art-content-layout-row">
                                    <div class="art-layout-cell layout-item-2" style="width: 100%" >
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            <div class="art-content-layout">
                                <div class="art-content-layout-row">
                                    <div class="art-layout-cell layout-item-2" style="width: 75%" >
                                        <p>

                                            <img width="245" height="245" alt="" src="styles/images/shutterstock_17235442.jpg" style="float: right; margin-bottom: 16px; margin-left: 20px;" class="art-preview-selected">
                                        </p><p style="text-align: justify;"><span style="font-size: 16px;">Ser el principal agente de cambio en las condiciones de salud de las personas y en la protección de sus medios de subsistencia, facilitando servicios de seguridad social eficientes que induzcan mejoría en la calidad de vida.</span></p><p style="text-align: justify;"><span style="font-size: 16px;">Consolidar el servicio como el mejor modelo para todo el Sistema de Seguridad Social en Salud de Colombia</span>.</p><p>

                                    </p>
                                    </div><div class="art-layout-cell layout-item-3" style="width: 25%" >
                                    <h1><br></h1><p style="padding: 8px 0"></p><p style="padding: 8px 0"><a href="#"></a></p>
                                    <h1><br></h1><div style="margin-left: 2em">
                                </div>
                                </div>
                                </div>
                            </div>
                            <div class="art-content-layout">
                                <div class="art-content-layout-row">
                                    <div class="art-layout-cell layout-item-2" style="width: 100%" >
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </article></div>
                </div>
            </div>
        </div><footer class="art-footer">

    </footer>

    </div>
    <p class="art-page-footer">

    </p>
</div>


</body></html>