<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head><!-- Created by Artisteer v4.1.0.59861 -->
    <meta charset="utf-8">
    <title>Contacts</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="styles/style.css" media="screen">
    <!--[if lte IE 7]>
    <link rel="stylesheet" href="styles/style.ie7.css" media="screen"/><![endif]-->
    <link rel="stylesheet" href="styles/style.responsive.css" media="all">


    <script src="styles/jquery.js"></script>
    <script src="styles/script.js"></script>
    <script src="styles/script.responsive.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/engine1/style.css" />
    <script type="text/javascript" src="styles/engine1/jquery.js"></script>



    <style>.art-content .art-postcontent-0 .layout-item-0 { margin-top: 5px;margin-bottom: 5px;  }
.art-content .art-postcontent-0 .layout-item-1 { border-top-width:1px;border-top-style:Solid;border-top-color:#DEDEDE;margin: 0px;  }
.art-content .art-postcontent-0 .layout-item-2 { color: #E8E8E8; background: #FFFDFA url('styles/images/6de0f.png') no-repeat scroll; padding: 0px;  }
.art-content .art-postcontent-0 .layout-item-3 { color: #424242; background: #EDEDED;  }
.art-content .art-postcontent-0 .layout-item-4 { color: #424242; padding-right: 20px;padding-left: 20px;  }
.art-content .art-postcontent-0 .layout-item-5 { margin-top: 5px;  }
.art-content .art-postcontent-0 .layout-item-6 { padding-right: 20px;padding-left: 20px;  }
.ie7 .art-post .art-layout-cell {border:none !important; padding:0 !important; }
.ie6 .art-post .art-layout-cell {border:none !important; padding:0 !important; }
    body { background-color: #e7fff5; color: #747f7a; font-family: Georgia, "Times New Roman", Times, serif; }
    h3 { font-size: 23px; font-weight: normal; }
</style></head>
<body>
<div id="art-main">
<header class="art-header">


    <div class="art-shapes">

            </div>




<nav class="art-nav">
    <ul class="art-hmenu"><li><a href="inicio1.html" class="active">Inicio</a></li><li><a href="servicios.html">Servicios</a></li><li><a href="contactenos.php">Contáctenos</a></li></ul>
    </nav>

                    
</header>
<div class="art-sheet clearfix">
            <div class="art-layout-wrapper">
                <div class="art-content-layout">
                    <div class="art-content-layout-row">
                        <div class="art-layout-cell art-content"><article class="art-post art-article">
                                
                                                
                <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout-br">
</div><div class="art-content-layout-wrapper layout-item-0">

                    <!-- Start WOWSlider.com BODY section -->
                    <div align="center">


                        <!-- SLIDEROLL GALLERY AV EMBED START -->
                        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" width="760" height="500" id="player" align="middle">
                            <param name="allowScriptAccess" value="sameDomain" />
                            <param name="allowNetworking" value="all" />
                            <param name="allowFullScreen" value="true" />
                            <param name="movie" value="gallery.swf?bgcolor=#ffffff" />
                            <param name="quality" value="high" />
                            <param name="bgcolor" value="#ffffff" />
                            <embed src="gallery.swf?bgcolor=#ffffff" quality="high" bgcolor="#ffffff" width="760" height="500" name="player" align="middle" allowScriptAccess="sameDomain" allowNetworking="all" allowFullScreen="true" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
                            <p><a href="http://www.slideroll.com">&nbsp;</a></p>
                        </object>
                        <!-- SLIDEROLL GALLERY AV EMBED END -->

                    </div>
                    <!-- End WOWSlider.com BODY section -->
                    <!--<div class="art-content-layout">-->
    <!--<div class="art-content-layout-row">-->
    <!--<div class="art-layout-cell layout-item-2" style="width: 100%" >-->
        <!--<p><br style="line-height: 100px"></p>-->
        <!--<h5><br></h5>-->
        <!--<br style="line-height: 100px">-->
    <!--</div>-->
    <!--</div>-->
<!--</div>-->

</div>
<!--<div class="art-content-layout-br layout-item-1">-->
<!--</div>-->
<!--<div class="art-content-layout-br">-->
<!--</div>-->

<div class="art-content-layout-br layout-item-1">
</div><div class="art-content-layout-wrapper layout-item-5">
<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-6" style="width: 75%" >
        <h1>Nuestra Misión</h1>
         <img width="250" height="262" alt="" src="styles/images/shutterstock_12488026.jpg" style="float:left;margin-right:20px;" class="">
        <p style="text-align: justify;"><span style="font-size: 16px;">Incidir&nbsp;en el&nbsp;mejoramiento&nbsp;de las condiciones de&nbsp;salud&nbsp;de nuestros&nbsp;afiliados, garantizando el aseguramiento&nbsp;integral&nbsp;a través de la administración de los recursos del Sistema General de Seguridad Social, sobre la base de nuestros valores&nbsp;corporativos a través del desarrollo y la aplicación de modelos en salud que trascienden a la sociedad en general y promueven el principio constitucional del Derecho a la Salud.</span><br></p><p><span style="font-size: 16px;"><br></span></p><p><span style="font-size: 16px;"><br></span></p><p><span style="font-size: 16px;"><br></span></p><h1>NUESTRA VISIÓN</h1><p>
         
         <img width="250" height="262" alt="" src="styles/images/shutterstock_17235442.jpg" style="float:right;margin-left:20px;" class="">
        </p><p style="text-align: justify;"><span style="font-size: 16px;">Ser el principal agente de cambio en las condiciones de salud de las personas y en la protección de sus medios de subsistencia, facilitando servicios de seguridad social eficientes que induzcan mejoría en la calidad de vida.</span></p><p style="text-align: justify;"><span style="font-size: 16px;">Consolidar el servicio como el mejor modelo para todo el Sistema de Seguridad Social en Salud de Colombia</span>.</p><p></p><p>
         
        </p>
    </div><div class="art-layout-cell layout-item-6" style="width: 25%" >
        <h1>síguenos</h1>
        <p><br></p>
        <p><img width="32" height="32" alt="" src="styles/images/facebook_32-2.png" style="float: left; margin-right: 10px" class=""></p>
        <p style="padding: 8px 0"><a href="#">Facebook</a></p>
        <p><img width="32" height="32" alt="" src="styles/images/twitter_32-2.png" style="float: left; margin-right: 10px" class=""></p>
        <p style="padding: 8px 0"><a href="#">Twitter</a></p>
        <h1><br></h1><div style="margin-left: 2em">
        </div>
    </div>
    </div>
</div>
</div>
</div>
                                
                

</article></div>
                    </div>
                </div>
            </div><footer class="art-footer">

</footer>

    </div>
    <p class="art-page-footer">
       <br>
    </p>
</div>


</body></html>