<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head><!-- Created by Artisteer v4.1.0.59861 -->
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

    <!--[if lt IE 9]><script src="../https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="../styles/style.css" media="screen">
    <!--[if lte IE 7]>
    <link rel="stylesheet" href="../styles/style.ie7.css" media="screen"/><![endif]-->
    <link rel="stylesheet" href="../styles/style.responsive.css" media="all">


    <script src="../styles/jquery.js"></script>
    <script src="../styles/script.js"></script>
    <script src="../styles/script.responsive.js"></script>


<style>.art-content .art-postcontent-0 .layout-item-0 { border-top-width:1px;border-top-style:solid;border-top-color:#3C97AA;margin-top: 5px;margin-bottom: 5px;  }
.art-content .art-postcontent-0 .layout-item-1 { padding-right: 10px;padding-left: 10px;  }
.ie7 .art-post .art-layout-cell {border:none !important; padding:0 !important; }
.ie6 .art-post .art-layout-cell {border:none !important; padding:0 !important; }

</style></head>
<body>
<div id="art-main">
<header class="art-header">


    <div class="art-shapes">

            </div>
<h2 class="art-slogan" data-left="15.27%">SEGURIDAD SOCIAL</h2>




<nav class="art-nav">
    <ul class="art-hmenu"><li><a href="../inicio.html" class="">Inicio</a></li><li><a href="../servicios.html" class="active">Servicios</a><ul class="active"><li><a href="../servicios/eps.html" class="">EPS</a></li><li><a href="../servicios/arl.html" class="">ARL</a></li><li><a href="../servicios/caja.html" class="active">Caja</a></li><li><a href="../servicios/colaboradores.html">Colaboradores</a></li></ul></li><li><a href="../contactenos.php">Contáctenos</a></li></ul>
    </nav>

                    
</header>
<div class="art-sheet clearfix">
            <div class="art-layout-wrapper">
                <div class="art-content-layout">
                    <div class="art-content-layout-row">
                        <div class="art-layout-cell art-content"><article class="art-post art-article">
                                
                                                
                <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-1" style="width: 100%" >
        <p><span style="font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 24px; text-transform: uppercase;">CAJA DE COMPENSACIÓN FAMILIAR</span><br></p>
    </div>
    </div>
</div>
<div class="art-content-layout-br layout-item-0">
</div><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-1" style="width: 100%" >
        <p>
        </p>
    </div>
    </div>
</div>
<div class="art-content-layout-br layout-item-0">
</div><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-1" style="width: 100%" >
        <h2><strong style="font-size: 18px;">¿Son instituciones públicas o privadas?</strong></h2><p style="color: rgb(128, 130, 133); font-family: Arial, Helvetica, sans-serif; line-height: 20px; text-align: justify;">Son entidades privadas, sin ánimo de lucro, de redistribución económica y naturaleza solidaria, creadas para mejorar la calidad de vida de las familias de los trabajadores colombianos, mediante la gestión y entrega, en subsidios y servicios, de parte de los aportes de seguridad social que hacen los empleadores.</p><p style="color: rgb(128, 130, 133); font-family: Arial, Helvetica, sans-serif; line-height: 20px;"><br></p>
    </div>
    </div>
</div>
<div class="art-content-layout-br layout-item-0">
</div><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-1" style="width: 100%" >
        <p>
        </p>
    </div>
    </div>
</div>
<div class="art-content-layout-br layout-item-0">
</div><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-1" style="width: 100%" >
        <h2><strong style="font-size: 18px;">¿Para qué fueron creadas?</strong></h2><p style="color: rgb(128, 130, 133); font-family: Arial, Helvetica, sans-serif; line-height: 20px; text-align: justify;">Para ayudar a los empleados colombianos en su desarrollo humano, familiar, laboral y social, y contribuir a mejorar la calidad de vida de la comunidad en general.</p><p><br></p>
    </div>
    </div>
</div>
<div class="art-content-layout-br layout-item-0">
</div><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-1" style="width: 100%" >
        <p>
        </p>
    </div>
    </div>
</div>
<div class="art-content-layout-br layout-item-0">
</div><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-1" style="width: 100%" >
        <h2><strong style="font-size: 18px;">¿Con qué recursos financian su labor?</strong></h2><p style="color: rgb(128, 130, 133); font-family: Arial, Helvetica, sans-serif; line-height: 20px; text-align: justify;">Las cajas reciben el 4% de los aportes de seguridad social que pagan los empleadores sobre el salario de sus trabajadores permanentes a cargo. Sin embargo, las Cajas de Compensación del país, como Comfenalco Antioquia, han multiplicado esos ingresos y reinvierten sus remanentes para beneficio de todos sus afiliados.</p><p><br></p>
    </div>
    </div>
</div>
<div class="art-content-layout-br layout-item-0">
</div><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-1" style="width: 100%" >
        <p>
        </p>
    </div>
    </div>
</div>
<div class="art-content-layout-br layout-item-0">
</div><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-1" style="width: 100%" >
        <h2><strong style="font-size: 18px;">¿Quién está obligado a aportar a las Cajas de Compensación?</strong></h2><p style="color: rgb(128, 130, 133); font-family: Arial, Helvetica, sans-serif; line-height: 20px; text-align: justify;">Todos los empleadores deben afiliar y pagar los aportes de sus trabajadores permanentes o que realicen actividades para un patrono por más de cuatro horas diarias o más de 93 horas mensuales.</p><p><br></p>
    </div>
    </div>
</div>
<div class="art-content-layout-br layout-item-0">
</div><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-1" style="width: 100%" >
        <p>
        </p>
    </div>
    </div>
</div>
<div class="art-content-layout-br layout-item-0">
</div><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-1" style="width: 100%" >
        <h2><strong style="font-size: 18px;">¿Quiénes son afiliados a las Cajas de Compensación?</strong></h2><p style="color: rgb(128, 130, 133); font-family: Arial, Helvetica, sans-serif; line-height: 20px; text-align: justify;">Los trabajadores y sus personas a cargo: hijos legítimos, naturales, adoptivos o hijastros menores de 18 años; hermanos huérfanos de padres; padres mayores de 60 años o con 50% de su capacidad de trabajo disminuida, que no reciban renta, pensión o salario. Las Cajas de Compensación entregan beneficios en salud, educación, recreación, cultura, turismo, deporte, vivienda, crédito y microcrédito a los colombianos.</p><p><br></p>
    </div>
    </div>
</div>
<div class="art-content-layout-br layout-item-0">
</div><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-1" style="width: 100%" >
        <p></p>
    </div>
    </div>
</div>
</div>
                                
                

</article></div>
                    </div>
                </div>
            </div><footer class="art-footer">

</footer>

    </div>
    <p class="art-page-footer">

    </p>
</div>


</body></html>